.swal-footer {
  text-align: center;
}

.swal-button {
  border: none;
}

.swal-button--cancel {
  background-color: #fbfbfb;
  color: #1e283d;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-shadow: none;
}

.swal-button--cancel:focus {
  border: none;
  outline: none;
  text-shadow: none;
}

.swal-button--confirm {
  background: #1f3bb3;
  color: white;
  outline: none;
  border: none;
}

.swal-button:hover {
  background: #0a58ca;
  color: white;
}

button {
  padding-block: 0;
}
